<!-- 
    ! = gera todo o HTML
-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diretivas</title>
</head>

<body>

    <!--
        #app + ctrl espaço: gera a div com id app
     -->
    <div id="app">
        <input type="text" v-model=txtDigitado>
        <br>
        {{ txtDigitado }}
        <br>
        <div v-if="txtDigitado == 1">
            <img :src="srcImg" :title="titleImg" width="100px"><!-- usar apenas do : é o mesmo que v-bind:  -->
        </div>
        <div v-else-if="txtDigitado == 2">
            <img :src="srcImg2" :title="titleImg" width="100px"><!-- usar apenas do : é o mesmo que v-bind:  -->
        </div>
        <div v-else-if="txtDigitado == 3">
            <img :src="srcImg3" :title="titleImg" width="100px"><!-- usar apenas do : é o mesmo que v-bind:  -->
        </div>
        <div v-else><p>Digite um número de 1 à 3</p></div>
    </div>

    <!--
        A importação do Vue deve vir ANTES de seu uso
    -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        /**
         * Cria uma instância do Vue - new Vue
         */
        new Vue({
            el: '#app',
            /**
             * Data é apenas para dados. Não usar função
             */
            data: {
                txtDigitado: '',
                srcImg: 'vue.png',
                srcImg2: 'vue2.png',
                srcImg3: 'vue3.png',
                titleImg: 'Logo'
            }
        });

    </script>

</body>

</html>